@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');






.title{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: blanchedalmond;
    background-color: #457b9d;
    padding: 50px;
    position: relative;
    top: -25px;
    border-radius: 20px;
    
}


.digital{
    font-family: 'PT Sans', sans-serif;
  
}
body{
    background-color: #f1faee;
}

p{
    background-color: #a8dadc83;
    border-radius: 20px;
    padding: 25px;
    
}

ul{
    display: inline-flex;
}

h2{
   text-align: center;
}

li{
    font-family: 'PT Sans', sans-serif;
    list-style-type: none;
    padding: 20px 60px;
    background-color: #69a1c425;
    
}

nav{
    text-align: center;
    background-color: #a8dadc;
    border-radius: 10px;
}

a{
    color: #1d3557;
    list-style-type: none;
    font-family: 'Work Sans', sans-serif;
}